<nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a [routerLink]="['/']" class="nav-link">
          <h2 class="link-text logo-text"></h2>
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openSubirActividad()">
          <mat-icon>note_add</mat-icon>
          <h2 class="link-text">Subir Actividad</h2>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="openActividad()">
          <mat-icon>calendar_today</mat-icon>
          <h2 class="link-text">Ingresar a Grupo</h2>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <mat-icon>exit_to_app</mat-icon>
          <h2 class="link-text">Salir</h2>
        </a>
      </li>
    </ul>
  </nav>
<!---->
