
<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Kenya">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
        <td mat-cell *matCellDef="let row"> {{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="detalles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
        <td mat-cell *matCellDef="let row"> {{row.details}} </td>
      </ng-container>

      <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Materia </th>
        <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones rápidas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones Rápidas </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button (click) = "eliminarActividad({_id: row._id, title: row.title, details: row.details, subject: row.subject})">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <div class="container" style="width: 100%; margin: 5% 0;">
      <mat-card *ngFor="let cambio of cambios" style="min-width: 85%; margin: 5%">
        <mat-card-title *ngIf="cambio" style="text-align: center;">
          Eliminar Actividad
        </mat-card-title>
        <mat-card-title *ngIf="cambio.tipo==='c'" style="text-align: center;">
          Editar Alumno
        </mat-card-title>
        <mat-card-content style="text-align: center;">
          <p>{{ cambio.forename }} {{ cambio.surname }}</p>
        </mat-card-content>
        <mat-card-footer style="text-align: right;">
          <button mat-icon-button (click)="aplicarCambios({_id: cambio._id, title: cambio.title, details: cambio.details, subject: cambio.subject})" style="margin:0.2em">
            <mat-icon>save</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
