<form class="example-form" [formGroup]="crearActividad" (ngSubmit)="onSubmit(crearActividad.value)">
  <h3>Nueva Actividad</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de Actividad</mat-label>
      <input matInput required formControlName="title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="" formControlName="details"></textarea>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <mat-label>Selecciona la materia</mat-label>
    <mat-select formControlName="subject">
      <mat-option *ngFor="let materia of materias" [value]="materia._id">
        {{materia.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <table style="width: 100%;">
    <tr>
      <td>
<button type="submit" mat-flat-button color="primary">Crear Actividad</button>
</td>
<td>
  <button mat-flat-button color="primary" (click)="openAsignar()">Asignar Actividad</button>
</td>
</tr>
</table>
</form>

