<form class="example-form">
  <h3>Nueva Actividad</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de Actividad</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder=""></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Materia</mat-label>
    <input matInput required>
  </mat-form-field>
<button type="submit" mat-flat-button color="primary">Crear Actividad</button>
</form>
