<h3 style="text-align: center;">Añadir Materia</h3>
<form [formGroup]="registroMateria" (ngSubmit)="onSubmit(registroMateria.value)">
    <table>
        <tr>
            <td>
    <mat-form-field>
        <mat-label>Nombre de Materia</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
</td>
<td>
    <mat-form-field>
        <mat-label>Curriculum</mat-label>
        <input matInput formControlName="curriculum">
    </mat-form-field>
</td>
</tr>
</table>
<button type="submit" mat-flat-button color="primary">Añadir</button>
</form>