<app-menu></app-menu>
<mat-card>
<form class="example-form">
  <h3>Registrar Grupo</h3>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Grupo</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Calendario</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
  <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Materia</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <button mat-flat-button color="primary" (click)="openHorario()">Horario</button>
      </td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
    </tr></table>
    <button mat-flat-button color="primary">Crear Grupo</button>
  </form>
</mat-card>
  