html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(assets/background-white.svg);
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

router-outlet + *  {
  padding: 16px 16px;
}
